@import '../variables/config.scss';
@import '../mixins/index.scss';

.container {
  @include container;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &--sm {
    max-width: $breakpoint-sm;
  }

  &--md {
    max-width: $breakpoint-md;
  }

  &--lg {
    max-width: $breakpoint-lg;
  }

  &--max {
    max-width: $container-max-width;
  }

  &--full {
    max-width: 100%;
    padding: 0;
  }
}